<ul class="navbar navbar-light">
  <%= image_tag "logo1.jpg", size: "50x50" %>
  <%= nav_helper 'nav-link', 'nav-item nav-link' %>
    <p class="spacer"> _ </p>
  <%= login_helper 'nav-link' %>
</ul>
