<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand likeh1" href="#">
    <%= image_tag "logo1.jpg", size: "50x50" %>
    Hawleyville Kennels
  </a>

    <ul class="navbar-nav">
      <%= nav_helper 'nav-link', 'nav-item' %>
    </ul>
    <span class=" ml-auto">
      <%= login_helper 'btn btn-sm btn-outline-secondary' %>
    </span>

</nav>

