<%= image_tag "haw3 crop.jpg", class: "d-block w-100" %>
<div class= "lite-pad">
    <h1 class="display-4 font-italic"> About Us </h1>
    <p class="lead">
      We are located at,
7256 fm. 3326
Hawley, Texas
Telephone:
(325) 725-0234
</p>
    <hr class="my-4">
    <p>Please text or call if you have any questions.</p>
    <p class="lead">
    </p>
</div>
<%= image_tag "haw3bot.jpg", class: "d-block w-100" %>
