<%= image_tag "hawnew2.jpg", class: "d-block w-100" %>
<div class= "lightgrey-pad">
    <p class="lead">
</p>
<div class="row">
  <div class="col-md-6">
    <h1 class="display-4 font-italic"> About Us </h1>
    <p class="lead text-muted">
    We are located in the backroads of Hawley, TX. It can be hard to find our home, you can call us if you have any trouble.
    <b><p class="my-3"> Address:</p></b>
    <p>
    7256 FM 3326
    Hawley, Texas
    </p>
  <b><p class="my-3">  Phone:</p></b>
    <p>
    (325) 725-0234
    </p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26867.393953318977!2d-99.824747980642!3d32.67476240835982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzLCsDQwJzI5LjAiTiA5OcKwNDgnMjYuMSJX!5e0!3m2!1sen!2sus!4v1522357157580" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
</div>
<%= image_tag "hawnew.jpg", class: "d-block w-100" %>
