<%= image_tag 'woods5top.jpg', class: "d-block w-100" %>
<section class="text-center small lightgrey-pad">
   <div class="container">
     <h1 class="flipInX display-4 font-italic">Welcome</h1>
     <p class="lead text-muted">If your looking for a puppy you've come to the right place! Take a look around and get to know us. </p>
     <p>

       <%= link_to 'Find out more about us', about_path, class: 'btn btn-outline-primary' %>
       <%= link_to 'Our Dogs', posts_path, class: 'btn btn-outline-danger' %>

     </p>
   </div>
 </section>
 <section>


<div align="center"><iframe width="640" height="480" src="https://drive.google.com/file/d/1zJhpDRuw7xTaYVO5IdN7K9k9qCyMM9hD/preview" frameborder="1px"></iframe></div>
      
  </section>
<%= image_tag 'woods5.jpg', class: "d-block w-100" %>
