<section class="jumbotron text-center">
   <div class="container">
     <h1 class="jumbotron-heading">Welcome</h1>
     <p class="lead text-muted">If your looking for a puppy you've come to the right place! Take a look around and get to know us. </p>
     <p>

       <%= link_to 'Find out more about us', about_path, class: 'btn btn-outline-secondary' %>
       <%= link_to 'Our Dogs', posts_path, class: 'btn btn-outline-danger' %>

     </p>
   </div>
 </section>

</body>
