@import "bootstrap";

body {
  background-color: white;
}

 .dark {
   background-color: #f6fcff;
 }

 .lite {
   background-color: white;
 }
 .lite-pad {
   background-color: white;
   padding: 30px;
 }

.nav-link {
  color: black;
}

.nav-link:hover {
  color: grey;
}

.lightgrey-pad {
  // background-color: #E9ECEF;
  background-color: #ebf4f8;
  padding: 30px;
}

.small {
  padding: 10px;
}

.dark-text {
  color: black;
}

.white-text {
  color: white;
}


.lightgrey {
  background-color: #ebf4f8;
}

.yellowalert {
  color: #FFA500;
}

.redalert {
  color: red;
}
