@import "bootstrap";

body {
  background-color: white;
}
h1 {
    font-family: 'Knewave', cursive;
}
p {
    font-family: 'Song Myung', serif;
}
img {
  transition: all .5s;
}



.likep {
    font-family: 'Song Myung', serif;
    color: #4f4f4f;
}
.likep:hover {
    font-family: 'Song Myung', serif;
    color: black;
}
.likeh1 {
    font-family: 'Knewave', cursive;
}
.dogtitle {
    font-family: 'Knewave', cursive;
    font-size: 1.3em;
}
 .dark {
   background-color: #f4fbff;
 }

 .lite {
   background-color: white;
 }
 .lite-pad {
   background-color: white;
   padding: 30px;
 }

.phover:hover {
  transform: scale(1.1);
}
.nav-link {
  color: black;
}

.nav-link:hover {
  color: grey;
}

.lightgrey-pad {
  // background-color: #E9ECEF;
  background-color: #ebf4f8;
  padding: 30px;
}

.small {
  padding: 10px;
}

.dark-text {
  color: black;
}

.white-text {
  color: white;
}


.lightgrey {
  background-color: #ebf4f8;
}

.yellowalert {
  color: #FFA500;
}

.redalert {
  color: red;
}

.flipInX {
  animation-duration: 2s;
  animation-name: bounceIn;
}

